@font-face {
    font-family: 'Quicksand';
    src: url('Poppins-Thin.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: IBM;
    background-color: #000000; /* Soft light green background */
    color: #00000000; /* Darker text color for better readability */
    line-height: 1.6;
    font-family: 'Courier New', Courier, monospace;
    
}

/* Navbar */
.navbar {
    background-color: #ffffff44; /* Soft background */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 20px; /* Adjusted top to move the navbar down */
    z-index: 1000;
    transition: background-color 0.3s ease, border-radius 0.3s ease, max-width 0.3s ease;
    backdrop-filter: blur(10px);
    font-family: 'Quicksand', sans-serif; 
    border-radius: 100px;
    max-height: 130px;
    max-width: 600px;
    margin: 0 auto; /* Center the navbar */
    border: 2px solid #ffffff91; /* Add a border */
}
.navbar * {
    font-family: 'Quicksand', sans-serif !important;
}
/* Navbar hover effect */
.navbar:not(.navbar-full):hover {
    max-width: 800px;
}

.navbar-full {
    max-width: 100%; /* Full width */
    border-radius: 10px;
    top: 0; /* Ensure it aligns at the top */
}

.navbar-full .logo {
    margin-left: 1px;
}

/* Logo */
.logo-link {
    display: inline-block;
}

.logo {
    width: 35%;
    max-width: 250px;
    margin-left: 20px;
    margin-top: 6px;
    border: 2px solid #000000;
    border-radius: 23px;
    transition: transform 0.7s ease;
}

.logo:hover {
    transform: scale(1.05);
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.navbar .logo {
    color: #333;
    font-size: 1.8em;
    font-weight: 800;
    font-family: 'IBM', sans-serif;
}

.navbar .nav-links a {
    color: #ffffff; /* Original color */
    text-decoration: none;
    font-weight: 600;
    padding: 5px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    font-family: 'IBM', sans-serif;
}

.navbar .nav-links a:hover {
    color: #797979; /* Change color on hover */
    font-family: 'IBM', sans-serif;
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
    .nav-links {
        display: ; /* Hide navigation links */
        visibility: none;
    }

    .navbar {
        visibility: visible;
        display: visible;
        align-items: center;
        max-width: 94%;
        
    }
    .navbar:not(.navbar-full):hover {
        max-width: 94%;
    }

    .about {
        text-align: center;
    }

    .gradient-box {
        background: linear-gradient(to right, #57b0f8, #292929);
        padding: 20px;
        border-radius: 10px;
        display: inline-block;
    }
}






/* Hero Section */
.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    overflow: hidden; /* Ensures the video doesn’t exceed the container */
    top: -110px;
}

.hero {
    
    z-index: 5;
}

.animate {
    position: relative;
    height: 100vh; /* Adjust the height as needed */
    background: radial-gradient(circle at bottom, #ffffff, #b1b6b9, #707070, #00000041, #000000, #000000, #000000);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    overflow: hidden;
    
}


.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: -1;
}


.hero-content {
    position: relative;
    z-index: 1; /* Ensures the content is above the video and tint */
    text-align: center;
    color: white; /* Keeps text readable on the tinted background */
}

.hero h1 {
    font-size: 4em;
    margin-bottom: 25px;
    font-weight: 800;
    background-color: rgba(36, 36, 36, 0.247);
    backdrop-filter: blur(100px);
    border: 2px solid #2929292f;
    color: #ffffff;
    padding: 20px 30px;
    border-radius: 500px;
    display: inline-block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: fadeInUp 2s ease forwards; /* Apply the fade-in and slide-up animation */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Keyframes for the fade-in and slide-up animation */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px); /* Start 5px lower */
    }

    100% {
        opacity: 1;
        transform: translateY(0); /* End at the original position */
    }
}


.hero .btn {
    padding: 12px 25px;
    background-color: #50505000;
    backdrop-filter: blur(50px);
    color: #353535;
    text-decoration: none;
    border-radius: 35px;
    font-size: 1.1em;
    font-weight: 600;
    transition: all 0.3s ease;
    display: inline-block; /* Ensures proper centering */
    margin-top: 20px; /* Adds space between heading and button */
    border: 2px solid #a8a8a818; /* Add a border */
}



.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
    animation: fadeIn 2s ease-out;
}



.hero .btn:hover {
    background-color: rgba(52, 61, 70, 0.432)5e; /* Darker shade for hover */
    color: hsl(0, 0%, 100%);
    cursor: ;
}

#about {
    padding: 50px 20px; /* Reduced horizontal padding for full width */
    background-color: #000000; 
    color: #c9c9c9;
    animation: fadeIn 1.5s ease-out;
    text-align: center;
    width: 100%; /* Makes the container take full width */
    box-sizing: border-box; /* Ensures padding doesn't exceed the viewport */
    height: 400px;
    margin-top: -100px;
}

#about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #e6e6e6; /* Dark title for contrast */
    text-shadow: 0 0 5px #ffffff2d, 0 0 10px #ffffff7a, 0 0 15px #5554547a, 0 0 2px #ffffff7a, 0 0 25px #ffffff7a, 0 0 30px #ffffff7a, 0 0 35px #ffffff7a;
}

#about p {
    font-size: 1.1em;
    max-width: 800px;
    margin: 0 auto;
}

/* Services Section */
#services {
    padding: 50px 100px;
    background-color: #000000;
    text-align: center;
    animation: fadeIn 1.5s ease-out;
    filter: blur(10px); /* Initial blur effect */
    transition: filter 0.5s ease-out; /* Smooth transition for unblur effect */
    opacity: 0.8; /* Slightly reduce opacity to enhance the blur effect */
}

#services h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #ffffff5d;
    text-shadow: 0 0 5px #ffffff2d, 0 0 10px #ffffff7a, 0 0 15px #5554547a, 0 0 2px #ffffff7a, 0 0 25px #ffffff7a, 0 0 30px #ffffff7a, 0 0 35px #ffffff7a;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.service {
    background-color: rgba(0, 0, 0, 0.2); /* Partially transparent white background */
    padding: 30px;
    border-radius: 100px;
    border: 2px solid rgba(255, 255, 255, 0.178); /* Slightly transparent border */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, border 0.3s ease-in-out; /* Smooth transition */
    animation: fadeIn 2s ease-out;
    text-decoration: none;
    color: inherit;
}

.service h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #ffffff62;
    transition: color 0.3s ease;
}

.service p {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #b1b2b3;
    transition: color 0.3s ease;
}

.service:hover {
    background-color: rgb(248, 248, 248);
    
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 0 30px #ffffff;
    color: #000000;
    transition: background-color 0.9s ease, transform 0.9s, box-shadow 0.3s;
    
}

.service:hover p {
    color: #000000;
}

.service:hover h3 {
    color: #000000;
}



/* CashApp Title */
.order-section h3 {
    font-size: 1.4em;
    margin-top: 50px;
    text-align: center;
    color: #ffffff; /* Dark text */
}





/* Animation Effects */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Contact Form */

.tint-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.137); /* Adjust the opacity as needed */
    z-index: 1;
    backdrop-filter: blur(50px);
}

.fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 500px; /* Adjust the height of the fade effect as needed */
    background: linear-gradient(to bottom, transparent, #000000);
    z-index: 1;
}

.order-section {
    
}

.FormTint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.137); /* Adjust the opacity as needed */
    z-index: 1;
    backdrop-filter: blur(50px);
}

form {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.171); /* White form background for contrast */
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid #333;
}

form label {
    display: block; /* Ensures the labels appear above the input fields */
    margin-bottom: 5px;
    font-size: 1em;
    color: #ccc; /* Lighter color for visibility */
}

form input,
form textarea {
    display: block; /* Ensures they appear properly */
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #3333331e; /* Darker background for visibility */
    color: white;
    border: 1px solid #777; /* Lighter border for contrast */
}

form button {
    width: 100%;
    padding: 15px;
    background-color: #4d4d4d4d; /* Strong blue button for contrast */
    color: #ffffff; /* White text */
    border: none;
    border-radius: 15px;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s;
    border: 1px solid #333;
}

form button:hover {
    background-color: #ffffff; /* Darker blue on hover */
    color: #000000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 0 30px rgba(255, 255, 255, 0.7); /* Increased red glow */
    
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        padding: 30px;
    }

    .hero-content {
        max-width: 100%;
        text-align: center;
    }

    .hero h1 {
        font-size: 3em;
    }

    .services-list {
        grid-template-columns: 1fr;
    }

    form {
        padding: 15px;
    }

    .order-section h3 {
        font-size: 1.2em;
    }
}


/* Responsive Design */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        padding: 30px;
    }

    .hero-content {
        max-width: 100%;
        text-align: center;
    }

    .hero h1 {
        font-size: 3em;
    }

    .services-list {
        grid-template-columns: 1fr;
    }

    form {
        padding: 15px;
    }

    .order-section h3 {
        font-size: 1.2em;
    }
}

/* Responsive Design for Services Section */
@media (max-width: 768px) {
    #services {
        padding: 30px 20px; /* Reduce padding for smaller screens */
    }

    #services h2 {
        font-size: 2em; /* Reduce heading size */
        margin-bottom: 30px;
    }

    .services-list {
        grid-template-columns: 1fr; /* Switch to single column layout */
        gap: 20px; /* Reduce gap between items */
    }

    .service {
        padding: 20px; /* Reduce padding inside service cards */
        border-radius: 70px; /* Adjust border radius */
    }

    .service h3 {
        font-size: 1.5em; /* Reduce service title size */
    }

    .service p {
        font-size: 1em; /* Adjust paragraph size */
    }
}


/* Mobile-specific styles */
@media (max-width: 768px) {
    /* Hide all links */
    .navbar .nav-links a {
        display: none;
    }

    /* Show only the "Apply" link */
    .navbar .nav-links a[href="Apply.html"] {
        display: inline-block;
    }
}

@media (max-width: 600px) {
    

    .navbar {
        visibility: visible;
    }

    .hero h1 {
        visibility: hidden;
    }
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
